@tailwind base;
@tailwind components; 
@tailwind utilities; 

* {
    box-sizing: border-box;
}

/*NavBar*/
.container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
 }
 
 .centered-div {
    width: 90%;
    height: auto;
    margin: 5px;
    padding: 5px;
    color: white;
 }
 
 #company-logo {
    width: 90%; 
    margin-left: 60px;
 }
 

/*Section1*/
 #hero-section {
    height: 780px; 
 }

 #btn {
  height: 11px;
  width: 11px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  justify-content: space-between;
 }


 .drawer-side {
    margin-top: 55px;
 }

 #section-div {
    margin: 12px; 
 }

 button {   
    border-bottom: 2px solid white; /* Set white border for bottom */
    border-right: 2px solid white; /* Set white border for right */
    color: white; /* Set text color */
    padding: 10px 20px; /* Add padding for button content */
    text-decoration: none; /* Remove default underline */
    display: inline-block; /* Display as inline-block to adjust width based on content */
    box-shadow: 0 2px 0 black, 2px 0 0 black; /* Add black outer border for bottom and right sides */
 }

 #btn-banner2 {
    border-bottom: 2px solid #284b8b; 
    border-right: 2px solid #284b8b;
    box-shadow: 0 2px 0 white, 2px 0 0 white; 
 }

 #btn-banner3 {
    border-bottom: 2px solid #46d2f0; 
    border-right: 2px solid #46d2f0;
    box-shadow: 0 2px 0 black, 2px 0 0 black; 
 }

 #white-btn {
    border-bottom: 2px solid black; 
    border-right: 2px solid black; 
    box-shadow: 0 2px 0 white, 2px 0 0 white; 
 }

 #subheading {
    bottom: 10%;
    left:13%;  
 }

 #sub-banner2 {
    top:25%; 
    left:40%; 
 }

 #sub-banner3 {
    top:20%; 
    left:10%; 

 }


 @media only screen and (min-width:321px) and (max-width:768px) {
    #side-navigation-bar {
        display: block; 
    }
    #top-navigation-bar {
        display: none; 
    }
    #hero-section {
        height: 700px;
    }
    #carousel-caption {
        display: block;
    }
    #carousel-for-big-screen {
        display:none; 
    }
    #footer-for-big-screen {
        display:none; 
    }
    #hero-section-for-big-screen {
        display: none;
    }
    
 }

 @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    #top-navigation-bar {
        display: none;
    }
    #company-logo {
        margin-left: 350px;
    }
    .video {
        max-width: 40%;         
    }
    #carousel-for-logo-1 {
        display:none; 
    }
    #footer-for-small-screen {
        display:none; 
    }
    #hero-section-for-small-screen {
        display:none; 
    }
    

  }

  @media only screen and (min-width: 769px) {
    #top-navigation-bar {
        display:block; 
    }
    #side-navigation-bar {
        display: none; 
    }
    .video {
        max-width: 40%; 
    }
    #carousel-for-logo-1 {
        display:none; 
    }
    #footer-for-small-screen {
        display:none; 
    }
    #hero-section-for-small-screen {
        display:none; 
    }

  }